In [1]:
import os
import pandas as pd
import re
import requests

#### Define function to create clean table names from "dirty" text. This removes special characters etc:

In [2]:
def func_clean_table_name(filename):
    # Replace forbidden characters with underscores
    cleaned_name = re.sub(r'[^a-zA-Z0-9_]', '_', os.path.splitext(filename)[0])
    # Ensure the name doesn't start with a number
    if cleaned_name[0].isdigit():
        cleaned_name = f"_{cleaned_name}"
    return cleaned_name

#### Create variables for each part of the Census API URL. This makes it easy to alter the values later:

In [3]:
# Default values
census_base_url = "https://api.census.gov/"
census_dataset_url = "data/2022/acs/acs5"
census_variables1 = "GEO_ID,NAME,B01001_001E,B25034_006E,B25034_007E,B25034_008E,B25034_009E,B25034_010E,B25034_011E,B25046_001E,B27010_017E,B27010_033E,B27010_050E,B27010_066E,B28009E_006E,B28002_013E,B16002_004E,B16002_007E,B16002_010E,B16002_013E,B16002_016E,B16002_019E,B16002_022E,B16002_025E,B16002_028E,B16002_031E,B16002_034E,B16002_037E,C16002_004E,C16002_007E,C16002_010E,C16002_013E,B09019_005E,B09019_008E,B19101A_001E,C17002_002E,C17002_003E,C17002_004E,C17002_005E,C17002_006E,C17002_007E,B20005_002E,B01001G_003E,B01001G_004E,B01001G_005E,B01001G_006E,B01001_020E,B01001_021E"
census_variables2 = "GEO_ID,NAME,B05013_017E,B05013_018E,B05013_019E,B01001B_016E,B01001B_017E,B01001B_018E,B01001B_019E,B01001_044E,B01001_045E,B05013_036E,B05013_037E,B05013_038E,B01001B_031E,B26203_003E,B26203_004E,B26203_005E,B26203_006E,B26203_007E,B26203_008E,B26203_009E,B26203_010E,B02001_002E,B02001_003E,B02001_004E,B02001_005E,B02001_006E,B02001_007E,B02001_008E,B25008D_003E,B16001_005E,B16001_008E,B16001_011E,B16001_014E,B16001_017E,B16001_020E,B16001_023E,B16001_026E,B16001_029E,B16001_032E,B16001_035E,B16001_038E"
# Geography is very important to structure correctly. Sometimes if it's incorrect, the data pull still works but
# will generate an error for higher counts of variables (like we're pulling here)
in_geography = r"&for=block%20group:*&in=state:15%20county:*%20tract:*"

In [4]:
census_combined_url = f"{census_base_url}{census_dataset_url}"
cbg_url1 = f"{census_combined_url}?get={census_variables1}{in_geography}"
cbg_url2 = f"{census_combined_url}?get={census_variables2}{in_geography}"

#### Create variables for the Census variable lookup API URLs.
#### Right now we just need the first two but may need others if some variables are added:

In [5]:
census_fields_url1 = f"{census_combined_url}/variables.json" #detailed variable lookup
census_fields_url2 = f"{census_combined_url}/subject/variables.json" #subject variable lookup with stats
#census_fields_url3 = f"{census_combined_url}/profile/variables.json" #data profiles lookup for demographic/econ data
#census_fields_url3 = f"{census_combined_url}/cprofile/variables.json" #comparison profiles lookup for 5yr to 5yr comps
#census_fields_url4 = f"{census_combined_url}/spt/variables.json" #supplemental estimates lookup

print("Click link to test URL for first set of variables: " + cbg_url1 + "\r")
print("Click link to test URL for second set of variables: " + cbg_url2 + "\r")
print("Click link to test URL for the field/variable list with descriptions: " + census_fields_url1 + "\r")
print("Click link to test URL for the field/variable list with descriptions: " + census_fields_url2 + "\r")

Click link to test URL for first set of variables: https://api.census.gov/data/2022/acs/acs5?get=GEO_ID,NAME,B01001_001E,B25034_006E,B25034_007E,B25034_008E,B25034_009E,B25034_010E,B25034_011E,B25046_001E,B27010_017E,B27010_033E,B27010_050E,B27010_066E,B28009E_006E,B28002_013E,B16002_004E,B16002_007E,B16002_010E,B16002_013E,B16002_016E,B16002_019E,B16002_022E,B16002_025E,B16002_028E,B16002_031E,B16002_034E,B16002_037E,C16002_004E,C16002_007E,C16002_010E,C16002_013E,B09019_005E,B09019_008E,B19101A_001E,C17002_002E,C17002_003E,C17002_004E,C17002_005E,C17002_006E,C17002_007E,B20005_002E,B01001G_003E,B01001G_004E,B01001G_005E,B01001G_006E,B01001_020E,B01001_021E&for=block%20group:*&in=state:15%20county:*%20tract:*
Click link to test URL for second set of variables: https://api.census.gov/data/2022/acs/acs5?get=GEO_ID,NAME,B05013_017E,B05013_018E,B05013_019E,B01001B_016E,B01001B_017E,B01001B_018E,B01001B_019E,B01001_044E,B01001_045E,B05013_036E,B05013_037E,B05013_038E,B01001B_031E,B26203_003E,B26203_004E,B26203_005E,B26203_006E,B26203_007E,B26203_008E,B26203_009E,B26203_010E,B02001_002E,B02001_003E,B02001_004E,B02001_005E,B02001_006E,B02001_007E,B02001_008E,B25008D_003E,B16001_005E,B16001_008E,B16001_011E,B16001_014E,B16001_017E,B16001_020E,B16001_023E,B16001_026E,B16001_029E,B16001_032E,B16001_035E,B16001_038E&for=block%20group:*&in=state:15%20county:*%20tract:*
Click link to test URL for the field/variable list with descriptions: https://api.census.gov/data/2022/acs/acs5/variables.json
Click link to test URL for the field/variable list with descriptions: https://api.census.gov/data/2022/acs/acs5/subject/variables.json

#### Pull multiple variable listings from Census API and store each in a dataframe:

In [6]:
fields_dict1 = requests.get(census_fields_url1).json()
fields_df1 = pd.DataFrame.from_dict(fields_dict1["variables"], orient="index").reset_index()
fields_df1.head()

,index,label,concept,predicateType,group,limit,predicateOnly,hasGeoCollectionSupport,attributes,required
0,for,Census API FIPS 'for' clause,Census API Geography Specification,fips-for,N/A,0,True,NaN,NaN,NaN
1,in,Census API FIPS 'in' clause,Census API Geography Specification,fips-in,N/A,0,True,NaN,NaN,NaN
2,ucgid,Uniform Census Geography Identifier clause,Census API Geography Specification,ucgid,N/A,0,True,True,NaN,NaN
3,B24022_060E,Estimate!!Total:!!Female:!!Service occupations...,Sex by Occupation and Median Earnings in the P...,int,B24022,0,NaN,NaN,"B24022_060EA,B24022_060M,B24022_060MA",NaN
4,B19001B_014E,"Estimate!!Total:!!$100,000 to $124,999",Household Income in the Past 12 Months (in 202...,int,B19001B,0,NaN,NaN,"B19001B_014EA,B19001B_014M,B19001B_014MA",NaN

In [7]:
fields_dict2 = requests.get(census_fields_url2).json()
fields_df2 = pd.DataFrame.from_dict(fields_dict2["variables"], orient="index").reset_index()
fields_df2.head()

,index,label,concept,predicateType,group,limit,predicateOnly,hasGeoCollectionSupport,attributes,required
0,for,Census API FIPS 'for' clause,Census API Geography Specification,fips-for,N/A,0,True,NaN,NaN,NaN
1,in,Census API FIPS 'in' clause,Census API Geography Specification,fips-in,N/A,0,True,NaN,NaN,NaN
2,ucgid,Uniform Census Geography Identifier clause,Census API Geography Specification,ucgid,N/A,0,True,True,NaN,NaN
3,S0804_C04_068E,Estimate!!Public transportation (excluding tax...,Means of Transportation to Work by Selected Ch...,float,S0804,0,NaN,NaN,"S0804_C04_068EA,S0804_C04_068M,S0804_C04_068MA",NaN
4,S0503_C02_078E,Estimate!!Foreign born; Born in Europe!!Civili...,Selected Characteristics of the Foreign-Born P...,float,S0503,0,NaN,NaN,"S0503_C02_078EA,S0503_C02_078M,S0503_C02_078MA",NaN

In [8]:
fields_df = pd.concat([fields_df1, fields_df2], ignore_index=True)
print("Fields aka variables data have been concatenated")

Fields aka variables data have been concatenated

#### Pull CBG level data from Census API and store in dataframe (first set of variables):

In [9]:
cbg_response = requests.get(cbg_url1)
cbg_data = cbg_response.json()
cbg_df = pd.DataFrame(cbg_data[1:], columns=cbg_data[0])
cbg_df.head()

,GEO_ID,NAME,B01001_001E,B25034_006E,B25034_007E,B25034_008E,B25034_009E,B25034_010E,B25034_011E,B25046_001E,...,B01001G_003E,B01001G_004E,B01001G_005E,B01001G_006E,B01001_020E,B01001_021E,state,county,tract,block group
0,1500000US150010201001,Block Group 1; Census Tract 201; Hawaii County...,1462,82,294,87,17,5,9,813,...,None,None,None,None,15,24,15,001,020100,1
1,1500000US150010201002,Block Group 2; Census Tract 201; Hawaii County...,602,24,7,57,28,29,76,505,...,None,None,None,None,14,16,15,001,020100,2
2,1500000US150010201003,Block Group 3; Census Tract 201; Hawaii County...,1339,148,53,70,141,67,49,1399,...,None,None,None,None,12,27,15,001,020100,3
3,1500000US150010201004,Block Group 4; Census Tract 201; Hawaii County...,1096,32,48,56,45,24,144,789,...,None,None,None,None,19,13,15,001,020100,4
4,1500000US150010202021,Block Group 1; Census Tract 202.02; Hawaii Cou...,1279,43,31,24,35,22,72,561,...,None,None,None,None,3,0,15,001,020202,1

In [10]:
print(cbg_response.status_code)
#print(cbg_response.text)

200

#### Pull CBG level data from Census API and store in dataframe (second set of variables):

In [11]:
cbg_response2 = requests.get(cbg_url2)
cbg_data2 = cbg_response2.json()
cbg_df2 = pd.DataFrame(cbg_data2[1:], columns=cbg_data2[0])
cbg_df2.head()

,GEO_ID,NAME,B05013_017E,B05013_018E,B05013_019E,B01001B_016E,B01001B_017E,B01001B_018E,B01001B_019E,B01001_044E,...,B16001_023E,B16001_026E,B16001_029E,B16001_032E,B16001_035E,B16001_038E,state,county,tract,block group
0,1500000US150010201001,Block Group 1; Census Tract 201; Hawaii County...,None,None,None,None,None,None,None,3,...,None,None,None,None,None,None,15,001,020100,1
1,1500000US150010201002,Block Group 2; Census Tract 201; Hawaii County...,None,None,None,None,None,None,None,5,...,None,None,None,None,None,None,15,001,020100,2
2,1500000US150010201003,Block Group 3; Census Tract 201; Hawaii County...,None,None,None,None,None,None,None,22,...,None,None,None,None,None,None,15,001,020100,3
3,1500000US150010201004,Block Group 4; Census Tract 201; Hawaii County...,None,None,None,None,None,None,None,19,...,None,None,None,None,None,None,15,001,020100,4
4,1500000US150010202021,Block Group 1; Census Tract 202.02; Hawaii Cou...,None,None,None,None,None,None,None,20,...,None,None,None,None,None,None,15,001,020202,1

cbg_response3 = requests.get(cbg_url3)
cbg_data3 = cbg_response3.json()
cbg_df3 = pd.DataFrame(cbg_data3[1:], columns=cbg_data3[0])
cbg_df3.head()

#### Find duplicate fields in the two data frames and remove all except GEO_ID which is needed to join
#### Merge tables on GEO_ID and add suffix to duplicated field (should just be GEO_ID):

In [12]:
duplicate_columns = [col for col in cbg_df2.columns if col in cbg_df.columns and col != 'GEO_ID']

# Drop them from cbg_df2
cbg_df2 = cbg_df2.drop(columns=duplicate_columns)

# Now safe to join but still add a suffix if a field is duplicated
cbg_df = cbg_df.join(cbg_df2, how='left', lsuffix='', rsuffix='_2')

cbg_df.head()

,GEO_ID,NAME,B01001_001E,B25034_006E,B25034_007E,B25034_008E,B25034_009E,B25034_010E,B25034_011E,B25046_001E,...,B16001_011E,B16001_014E,B16001_017E,B16001_020E,B16001_023E,B16001_026E,B16001_029E,B16001_032E,B16001_035E,B16001_038E
0,1500000US150010201001,Block Group 1; Census Tract 201; Hawaii County...,1462,82,294,87,17,5,9,813,...,None,None,None,None,None,None,None,None,None,None
1,1500000US150010201002,Block Group 2; Census Tract 201; Hawaii County...,602,24,7,57,28,29,76,505,...,None,None,None,None,None,None,None,None,None,None
2,1500000US150010201003,Block Group 3; Census Tract 201; Hawaii County...,1339,148,53,70,141,67,49,1399,...,None,None,None,None,None,None,None,None,None,None
3,1500000US150010201004,Block Group 4; Census Tract 201; Hawaii County...,1096,32,48,56,45,24,144,789,...,None,None,None,None,None,None,None,None,None,None
4,1500000US150010202021,Block Group 1; Census Tract 202.02; Hawaii Cou...,1279,43,31,24,35,22,72,561,...,None,None,None,None,None,None,None,None,None,None

#### Create path for output folder and store it as a variable:

In [13]:
output_folder_path = os.path.join(os.getcwd(), "output")
print ("Output folder: " + output_folder_path)

Output folder: C:\GITHUB\CCSVI\Scripts\Pull_Census_Simple\output

#### Generate table names from the URL segments so that it's clear what year/data is included in the output table:

In [14]:
general_table_name = func_clean_table_name(f"{census_dataset_url}")
fields_table_name = f"{general_table_name}_Variables"
cbg_table_name = f"{general_table_name}_CBG"

#### Generate output folder and use path to store CBG data pull as a CSV file

In [15]:
os.makedirs(output_folder_path, exist_ok=True)
cbg_csv_path = os.path.join(output_folder_path, f"{cbg_table_name}.csv")
cbg_df.to_csv(cbg_csv_path, index=False, encoding="utf-8")
print(f"CSV file created successfully: {cbg_csv_path}")

CSV file created successfully: C:\GITHUB\CCSVI\Scripts\Pull_Census_Simple\output\data_2022_acs_acs5_CBG.csv

#### Generate path to store Census variable list as a CSV file:

In [16]:
fields_csv_path = os.path.join(output_folder_path, f"{fields_table_name}.csv")
fields_df.to_csv(fields_csv_path, index=False, encoding="utf-8")
print(f"CSV file created successfully: {fields_csv_path}")

CSV file created successfully: C:\GITHUB\CCSVI\Scripts\Pull_Census_Simple\output\data_2022_acs_acs5_Variables.csv

In [17]:
print("Script complete! Output files are located at: " + output_folder_path)

Script complete! Output files are located at: C:\GITHUB\CCSVI\Scripts\Pull_Census_Simple\output